<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/"><img src="img/soscaley.png"></a>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a target="_blank" href="http://www.facebook.com/SCALEYMADE"><i style="font-size:40px; padding:10px" class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="http://www.instagram.com/SCALEYMADE"><i style="font-size:40px; padding:10px" class="fa fa-instagram"></i></a></li>
            <li><a target="_blank" href="http://www.soundcloud.com/SCALEY"><i style="font-size:40px; padding:10px" class="fa fa-soundcloud"></i></a></li>
            <li><a target="_blank" href="http://twitter.com/SCALEYMADE"><i style="font-size:40px; padding:10px" class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </nav>

</header>
